:root {
    --accent: #FF6266;
    --accent-marker: rgba(255, 98, 102, 0.2);
    --background: #1D1E28;
    --color: white;
    --border-color: rgba(255, 255, 255, .1);
    --secondary: #b1b1b1;
}

@font-face {
    font-family: "firacode";
    src: url("FiraCode-Regular.woff") format('woff');
}

@font-face {
    font-family: "firacode";
    src: url("FiraCode-Bold.woff") format('woff');
    font-weight: bold;
}

body {
    font-family: firacode;
    background-color: var(--background);
    color: var(--color)
}

.container {
    width: 50%;
    margin: 0 auto;
    padding-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .container {
        width: 98%;
    }
}

@media screen and (max-width: 1000px) and (min-width: 801px) {
    .container {
        width: 90%;
    }
}

ul {
    list-style: none;
}

li::before, li::marker {
    color: var(--accent); /* Change the color */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1.5em; /* Also needed for space (tweak if needed) */
    margin-left: -1.5em; /* Also needed for space (tweak if needed) */
}

ul li::before {
    content: "-";
}

.title {
    color: var(--accent);
}

hr {
    content: "";
    
    margin-top: 10px;
    padding-top: 2px;
    
    display: block;
    width: 100%;
    
    border: 3px dotted var(--accent);
}

.secondary {
    color: var(--secondary);
}

hr.secondary {
    border: 3px dotted var(--secondary);
}

a:link, a:visited {
    color: var(--accent);
    text-decoration-style: solid;
}

a:hover {
    color: var(--accent);
    filter: brightness(0.8);
}

code {
    font-family: firacode;
    padding: 1px;
    background: var(--accent-marker);
    color: var(--accent);
}